/* This is external CSS. Here we can style our page.*/
p {
    font-style: normal;
    color: purple;
    font-size: 20px;
    
}

h1 {
    text-align: center;
    color: black;
    padding-top: 18px;
}

#p {
    background-color: beige;
}

.h2 {
    font-size: 26px;
    text-align: center;
    font-family: Montserrat, Helvetica;
}

.endingMessage {
    text-align: center;
    font-family: Bubbly;
    font-size: 20px;
    color: darkorchid;
    margin-bottom: 18px;
}

p.endingMessage {
    padding-bottom: 20px;
}